* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 238, 238);
    padding: 1rem 5rem;
    color: rgb(29, 29, 29);
    font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #28363f;
}

code {
    display: block;
    border-radius: .25rem;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    color: rgb(240, 240, 240);
    box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.33);
}

.img-full {
    border: .2rem solid rgb(34, 34, 34);
    border-radius: 1rem;
    box-shadow: 0 0 13px -3px rgba(0, 0, 0, 0.33);
    height: 40vh;
}